.App {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.table-heading {
    font-size: 19px;
    font-weight: bold;
  }

  .table-container {
    box-shadow: 0 2px 9px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 20px;
    padding-top: -40px;
  
  }

  .button-group {
    display: flex;
  }

  /* Checar */
  .small-cell {
    width: 15px !important; /* Ajusta el tamaño según tus necesidades */
  }

  .button-small-modal {
    width: 160px;
    font-style: normal;
    font-weight: 430 !important;
  }

  .button-small-modalQR {
    width: 160px;
    font-style: normal;
    font-weight: 430 !important;
    margin-right: 40px;
  }

  .button-small-modal-Error-1{
    width: 100px;
    font-style: normal;
    font-weight: 430 !important;
  }

  .button-small-modal-Error-2 {
    width: 100px;
    font-style: normal;
    font-weight: 430 !important;
    background-color: white; /* Fondo blanco */
    border-color: #a0a0a0;
    padding: 5px; /* Espacio interno alrededor del contenido */
  }
  
  .button-small-modal-Error-2:hover {
    background-color: #ebebeb; /* Cambia el fondo a un gris más claro */
    border-color: #a0a0a0; /* Cambia el color del contorno a un gris más oscuro */
    color: #333333; /* Cambia el color del texto a un gris más oscuro */
    cursor: pointer; /* Cambia el cursor a una mano para indicar que es interactivo */
  }

  .button-gray {
    background-color: #909097 !important; /* Color de fondo grisáceo */
    color: #fff !important; /* Color de texto blanco */
    /* Otros estilos personalizados */
    outline: none;
    border: none;
  }

  .button-gray:hover {
    background-color: #767275 !important;
  }

  .button-smallDispositivo {
    width: 84px;
    height: 50px;
  }

  .button-smallDispositivo {
    margin-right: 5px;
  }

  .centered-button-group {
    display: flex !important;
    justify-content: center !important;
    padding-right: 12px;
  }
